{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}

<h2>Smart Room Automation Dashboard</h2>
<p>Logged in as {{ current_user.email }}</p>

<div class="eg_card">
  <h3>Live Sensor Data</h3>

  <p>
    <strong>Motion:</strong> {{ data.motion if data.motion is not none else "No
    Motion" }}
  </p>
  <p><strong>Light Level:</strong> {{ data.light or "Unknown" }}</p>
  <p><strong>Temperature:</strong> {{ data.temperature or "N/A" }} °C</p>
  <p><strong>Humidity:</strong> {{ data.humidity or "N/A" }} %</p>
</div>

{% if current_user.role == "admin" or current_user.is_subscribed %}
<div class="eg_card">
  <h3>Manual Control</h3>

  <div class="eg_btnGroup">
    <form method="POST" action="/on">
      <button type="submit" class="eg_btn eg_btnOn">Turn Light ON</button>
    </form>

    <form method="POST" action="/off">
      <button type="submit" class="eg_btn eg_btnOff">Turn Light OFF</button>
    </form>
    {% else %}
    <p class="eg_notice">Subscribe to enable device control</p>
  </div>
</div>
{% endif %} {% endblock %}
